.Container{
    display: flex;
    color: white;
    align-items: center;
    justify-content:space-between ;
    
    width: 100%;
    font-size: 50px;
}

.text{
    color:lime;
    margin-right: 80px;
    font-size: 30px;
    align-items: start;
}

.Container img {
   width: 700px;
}

.return {
   font-size: larger; 
   font-weight: 700px;
   background:linear-gradient(45deg, rgb(220, 219, 226), rgb(188, 45, 116), rgb(238, 215, 237));
   border-radius: 40%;
   padding: 15px;
   margin-top:20px ;
   cursor: pointer;
   border-color: azure;
}

.details{
    background: linear-gradient(45deg, rgb(157, 9, 118), rgb(99, 6, 51), rgb(113, 193, 9));
    padding-top: 1px;
    padding-bottom: 100px;
}

.deletebutton {
    background-color: orangered;
    font-size: 20px;
    font-family: fantasy;
    color: white;
    cursor: pointer;
    border-radius: 8px;
}
